/*상품이미지*/
#body_sct1> .product_img{

    border: 2px solid #000;
    padding-right: 10px;
    

}

/*상품이미지 옆 상품설명칸*/
#body_sct1> .body_sct1_right{
    width: 400px;
    border: 2px solid #000;
    display: flex;

}

/*상세보기*/
#body_sct2{
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}
#body_sct2> .body_sct2_zul1{
    width: 250px;
    height: 2px;
    background-color: #333;
    float: left;

}
#body_sct2> p{
    font-size: 35px;
    font-weight: 900;
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#body_sct2> .body_sct2_zul2{
    width: 1000px;
    height: 1px;
    background-color: #333;
}


/*상세보기 아래 원형설명칸*/
#body_sct3{
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

