/* 주조색 #ffe3a9 보조색 #7b5a2d 강조색 #b20109 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
}
ul, li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
hr{
    background: #000;
}
.five *{
    color: #555;
}
.five *:hover{
    color: #000;
}

/* 헤더 */
header{
    height: 260px;
    background-color: #ffffff;
}
header> section{
    border-bottom: 1px solid #333;
    background: #fff;
}
section> div{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* sns */
header .sns> a{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #FFEEE8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
header .sns> a> i{
    font-size: 1.5em;
    color: #333;
    transition: all 0.5s;
}
header .sns> a:hover{
    background: #ffdcd1;
}
header .sns> a:hover> i{
    color: #000;
}

/* -------섹션1 시작------- */

/* 큰로고포함한섹션 */
#header_sct1{
    height: 170px;
    position: relative;
}

/* 홍보동그라미칸 */
#header_sct1> #hongbo{
    width: 160px;
    height: 160px;
    background-color: #cccccc;
    border-radius: 300px;
}

/* 로고div */
#header_sct1> h1{
    width: 30%;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
#header_sct1> h1 img{
    width: 100%;
}

/* 미니메뉴, sns 묶음 */
.sct1-right{
    width: 300px;
    height: 100%;
}

/* 미니 메뉴 */
.sct1-right> .nav{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* 아이콘 */
.sct1-right> .sns{
    width: 150px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    float: right;
}


/* -------섹션2 시작------- */
header> section:nth-child(2){
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#header_sct2{
    height: 50px;
}

/* section2 로고, sns */
#header_sct2> .sct2_left{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* 로고 */
.sct2_left> h1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sct2_left> h1> a{
    height: 90%;
}

.sct2_left> h1 img{
    height: 100%;
}

/* sns */
.sct2_left> .sns{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 미니메뉴 */
#header_sct2> .nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------섹션3 시작------- */

/* 섹션3 크기 */
#header_sct3{
    height: 50px;
    position: relative;
}
.rote{
    transform-origin: center top;
    transform: rotateX(90deg);
    opacity: 0;
}
.rote.on{
    transform: rotateX(0);
    opacity: 1;
}

/* 햄버거 메뉴 */
/* 메뉴(햄버거)아이콘 */
#header_sct3 .five *:hover{
    color: #000;
}
#header_sct3 i{
    font-size: 30px;
    transition: all 0.5s;
}
#header_sct3> .ham{
    height: 100%;
    display: flex;
    align-items: center;
}

/* 서브메뉴 */
.sub{
    position: absolute;
    top: 50px;
    left: 0;
    background: rgba(255,255,255,0.8);
    border: 1px solid #555;
    padding: 10px;
    transition: all 0.5s;
}
.sub> p{
    font-weight: bold;
    font-size: 20px;
    height: 1.7em;
}
.sub> div{
    display: flex;
}

/* 개별메뉴 */
.sub> div> ul> li> p{
    font-weight: bold;
    font-size: 17px;
    height: 1.5em;
    border-bottom: 1px solid #fff;
    transition: all 0.5s;
}
.sub> div> ul> li> a{
    display: flex;
    align-items: center;
    width: 9em;
    height: 1.7em;
}
.sub> div> ul:hover> li> p{
    border-bottom: 1px solid #000;
}
/* 네비게이션 메뉴 */
#header_sct3> .nav{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header_sct3> .nav> li{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* hover시 이미지 */
#header_sct3> .nav> li> .img_div{
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50px;
    border: 1px solid #888;
    transition: all 0.5s;
}
/* 두개 있을 때 */
#header_sct3> .nav> li> .img_div.double{
    left: -200px;
}
/* 한개 있을 때 */
#header_sct3> .nav> li> .img_div.solo{
    left: -70px;
}
#header_sct3 .img_div> div{
    padding: 10px;
}
#header_sct3 .img_div> div> p{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#header_sct3 .img_div> div.idx1> p{
    justify-content: flex-end;
}
#header_sct3 .img_div> div> a img{
    width: 230px;
    height: 140px;
}
