/*슬라이드 섹션*/
#slide{
    width: 100%;
    height: calc(100vh - 220px);
    overflow: hidden;
    background-color: #ccc
}

/*슬라이드 이미지*/
#img_slide> div{
    width: 100%;
    height: 100%;

}

/*슬라이드 이미지*/
#img_slide> div> img{
  width: 100%;
  height: 100%;

}



  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  } */
  
  /* Position the "next button" to the right */
  /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  } */
  
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */
  
  /* Number text (1/3 etc)
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
>>>>>>> 6a4950b5c6e5cc463c351563c763db66488037a8
  }

  /*애꽈스토어 패널들 크기값 설정 *참고 : 가로값 300하면 이상하게보여서 1px추가함ㅠㅠ */
  #panel_box_store> div> div{
    width: 301px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border: #333 solid 1px;
    box-shadow: #333 5px 5px 5px -5px;
  }

  /*패널 속 상품이미지div*/
  #panel_box_store> div> div> .panel_img{
    width: 300px;
    height: 300px;
    background-color: #CCCCCC;
    border-bottom: #333 solid 1px;
    border-right: #333 solid 1px;
    text-align: center;
    align-items: center;
  }
   
  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */
