/*회원가입 div*/
.sign_up{
    width: 500px;
    margin: 0 auto;
    display: block;
}
/*회원가입 div 제목*/
.sign_up> p{
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #333;
    border-bottom: 3px double #000;
}

/*폼과 줄사이 공백*/
.sign_up> form{
    padding-top: 35px;
}
/* form */
.sign_up> form{
    width: 600px;
    display: flex;
    padding-right: 100px;
}

/*******text*******/
/*text 텍스트*/
.sign_up> form> .text> p{
    width: 100px;
    height: 50px;
    font-size: 25px;
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

/******input_box******/
/* input_box의 박스들*/
.sign_up> form> .input_box> input{
    width: 350px;
    height: 40px;
    font-size: 15px;
    border: 1px solid #333;
    margin: 5px 0;
    padding-left: 10px;
    font-family: sans-serif;
}
/*회원가입 버튼*/
.sign_up> form> .input_box> #button1{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff4c12;
    font-size: 30px;
    color: #ffffff;
    font-weight: 600;
}

/* 학번, 전화번호칸에 위아래 화살표 들어가는거 없애는 속성 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}