/* 주조색 #ffe3a9 보조색 #7b5a2d 강조색 #b20109 */
@font-face{
    font-family: 'NanumSquareR';
    src: url(NanumSquareR.ttf) format('truetype');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumSquareR';
}
ul, li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
}
hr{
    background: #000;
}
/* 헤더 */



/* -------섹션1 시작------- */

/* 큰로고포함한섹션 */
#sct1{
    width: 100vw;
    height: 150px;
    background-color: #ffffff;
}

/* 홍보동그라미칸 */
#sct1>#hongbo{
    width: 140px;
    height: 140px;
    bottom: -5px;
    left: 240px;
    background-color: #cccccc;
    display: block;
    position: relative;
    border-radius: 100px;
    
}

/* 로고div */
#sct1>#logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    bottom: 122px;
    position: relative;
}

/* 로고이미지 */
#sct1>#logo>img{
    width: 300px;
    height: auto;
}

/* 미니메뉴 nav */
#sct1>nav{
    position: relative;
    display: block;
    bottom: 245px;
    right: 300px;
}

/* 미니메뉴 a */
#sct1>nav>ul>li>a{
    display: inline-block;
    float: right;
    padding: 5px;
    font-size: 13px;
}

/* 아이콘 */
#sct1>#icons>a{
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    display: block;
    position: relative;
    bottom: 160px;
    right: 55px;
    background-color: #f8e9cc;
    float: right;
}

/* 아이콘 크기 */ 
#sct1>#icons>a>div>i{
    font-size: 20px;
}




/* -------섹션2 시작------- */

/* 섹션2 크기 */
#sct2{
    width: 100vh;
    height: 50px;
}

/* 섹션2 로고div */
#sct2>#logo2{
    display: block;
    top: 5px;
    left: 200px;
    position: relative;
}

/* 섹션2 로고 */
#sct2>#logo2>img{
    width: 100px;
    height: auto;
}












/* -------섹션3 시작------- */

/* 섹션3 크기 */
#sct3{
    width: 100vh;
    height: 50px;
}

/* 메뉴(햄버거)아이콘 */
#sct3>a{
    font-size: 30px;
    display: block;
    position: relative;
    left: 100px;
}
#sct3>a>div{
    
    
}
